.info_bar {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    max-width: 45rem;
    background-color: #091E2A;
    border-radius: 14px;
    padding: 1.2rem 0;
    flex: 1 1 300px;

    &_container {
        margin: 0 3rem;
        height: max-content;
        width: 30rem;
    }

    &_container_track_list {
        margin: 0 3rem;
        flex: 1 1 300px;
    }

    svg {
        margin-right: 2rem;
    }

    .info_button {
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        width: 11rem;
        height: 2.5rem;
        border-radius: 15px;
        background: transparent;
        border: 1px solid #FFF;
        transition: 0.2s all linear;

        @media (hover:hover) {            
            &:hover:not(.info_button_selected) {
                box-shadow: 0px 0px 8px 1px #fff;
                background-color: white;
                color: #091E2A;
            }
        }                
    }

    .info_button_selected {
        background-color: #E62C36;
        border: none;
        box-shadow: 0px 0px 8px 1px #E62C36;
        transition: 0.2s all linear;
    }
}